body {
    background-color: #dedb91;
    text-align: center;
    color: #bf8960;
    font-family: Verdana;
}

a {
    color: cornsilk;
    text-decoration: none;
}

a:hover {
    color: rgb(248, 233, 171);
}

main p {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}