body {
    background-color: #dedb91;
    text-align: center;
    color: #bf8960;
    font-family: Verdana;
}

a {
    color: cornsilk;
    text-decoration: none;
}

a:hover {
    color: rgb(248, 233, 171);
}

main p {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    main {
        width: 80%;
    }
}
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    main {
        width: 80%;
    }
}
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    main {
        width: 80%;
    }
}